<!-- -*- mode: jinja2 -*- -->



{% extends "base.html" %}
{% block content %}
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <h1>Verilerin Kaydedildi</h1>

    </div>


{% endblock %}

{% block page_js %}

<script>

(function($){

    $(document).on("click",".card-header",function () {
       jQuery(jQuery(this).parent().children()[1]).toggle();
       jQuery(jQuery(jQuery(this).parent().children()[0]).children()[0]).toggleClass("fa fa-arrow-circle-right");
       jQuery(jQuery(jQuery(this).parent().children()[0]).children()[0]).toggleClass("fa fa-arrow-circle-down");
    });

})(jQuery);

</script>

{% endblock %}