<!-- -*- mode: jinja2 -*- -->
{% extends "base.html" %}
{% block content %}
    <div class="container">
      <ul>
        {% for n in matches %}
        <li>{{n.FirstTeamName ~ " - " ~ n.SecondTeamName ~ " - " ~ n.Date.strftime('%d.%m.%Y') ~ " - " ~ n.Hour}}</li>
            <ul>
            {% for x in n.Ratios|sort(attribute='Type')|sort(attribute='RateName')|sort(attribute='CreateTime') %}
                <li>{{ x.Type ~ " " ~ x.RateName ~ " " ~ x.Rate ~ " " ~ x.CreateTime.strftime('%d.%m.%Y %H:%M') }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
      </ul>
    </div>


{% endblock %}

{% block page_js %}


</script>

{% endblock %}